- name: Install | Ensure that lein directory exists
  file: path={{ lein_install_dir }}/leiningen-{{lein_version}} state=directory

- name: Install | Download leiningen
  get_url:  url=https://raw.github.com/technomancy/leiningen/{{lein_version}}/bin/lein
            dest={{ lein_install_dir }}/leiningen-{{lein_version}}/lein
            mode=0755

- name: Install | Link lein into user binaries
  file: dest={{ lein_bin_dir }}/lein
        src={{ lein_install_dir }}/leiningen-{{ lein_version }}/lein
        state=link

- name: Create user {{ lein_user }} for builds
  user: name={{ lein_user }} comment="leiningen user" home={{ lein_home }}

- name: Move user {{ lein_user }} home if it changed
  user: name={{ lein_user }} move_home=yes
